[mysqld]
bind-address    = 0.0.0.0
port            = 3306
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /data/mysql
log-error       = /var/log/mysql/error.log
skip-host-cache
skip-name-resolve
